# PostgreSQL
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# Redis
REDIS_PASSWORD=

# Backend
ENVIRONMENT=
DB_SOURCE=
MIGRATION_URL=
REDIS_ADDRESS=
HTTP_SERVER_ADDRESS=
GRPC_SERVER_ADDRESS=
TOKEN_SYMMETRIC_KEY=
ACCESS_TOKEN_DURATION=
REFRESH_TOKEN_DURATION=
ALLOWED_ORIGINS=

# Assistant
BACKEND_API_URL=
BACKEND_ADMIN_EMAIL=
BACKEND_ADMIN_PASSWORD=
API_KEY=
OPENAI_API_KEY=
OPENAI_MODEL=
REDIS_HOST=
REDIS_PORT=
REDIS_USERNAME=
REDIS_PASSWORD=
LIVEKIT_API_KEY=
LIVEKIT_API_SECRET=
LIVEKIT_URL=

# Frontend
BASE_API_URL=
ASSISTANT_API_URL=
ASSISTANT_API_KEY=
SENTRY_DSN=
SENTRY_TRACE_SAMPLE_RATE=
ASSISTANT_SUPERADMIN_API_EMAIL=
ASSISTANT_SUPERADMIN_API_PASSWORD=
WS_URL=
LIVEKIT_URL=
AMPLITUDE_API_KEY=
AMPLITUDE_PROJECT=
